
*.Rproj
.Rproj.user/E4B84786/sources/prop/0578CB21
.Rproj.user/shared/notebooks/paths
.Rproj.user/E4B84786/sources/s-3AC63DDE/lock_file
.Rproj.user/E4B84786/sources/s-3AC63DDE/BC4D7C1E-contents
.Rproj.user/E4B84786/sources/s-3AC63DDE/6C09839C-contents
.Rproj.user/E4B84786/sources/s-3AC63DDE/174C715C-contents
.Rproj.user/E4B84786/sources/s-3AC63DDE/12F2D3D7-contents
.Rproj.user/E4B84786/sources/s-3AC63DDE/12F2D3D7
.Rproj.user/E4B84786/sources/s-3AC63DDE/0E729B92-contents
.Rproj.user/E4B84786/sources/prop/INDEX
.Rproj.user/E4B84786/sources/prop/B2D7689E
.Rproj.user/E4B84786/sources/prop/B1963102
.Rproj.user/E4B84786/sources/prop/0578CB21
.Rproj.user/E4B84786/sources/per/t/12F2D3D7-contents
.Rproj.user/E4B84786/sources/per/t/12F2D3D7
.Rproj.user/E4B84786/saved_source_markers
.Rproj.user/E4B84786/rmd-outputs
.Rproj.user/E4B84786/pcs/workbench-pane.pper
.Rproj.user/E4B84786/pcs/windowlayoutstate.pper
.Rproj.user/E4B84786/pcs/source-pane.pper
.Rproj.user/E4B84786/pcs/files-pane.pper
.Rproj.user/E4B84786/cpp-definition-cache
